@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (User.Identity.IsAuthenticated && User.IsInRole("FitnessAppAdmin"))
    {
        ViewData["Title"] = "Adminstration";
    }
    else
    {
        ViewData["Title"] = "Fitness Registration System";
    }
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="sidebar">
        <ul class="nav">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>

            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="FitnessClasses" asp-action="SignUp">Sign up for a Class</a></li>
                <li><a asp-controller="RegistrationRecords" asp-action="RegistrationIndex">Your Registrations</a></li>
            }
        </ul>
        <br />
        <br />
        <ul class="nav">
            @if (User.Identity.IsAuthenticated && User.IsInRole("FitnessAppAdmin"))
            {
                <li class="active"><a asp-controller="FitnessClasses" asp-action="Index">Fitness Classes</a></li>
                <li class="active"><a asp-controller="FitnessClassTypes" asp-action="Index">Fitness Class Types</a></li>
                <li class="active"><a asp-controller="Instructors" asp-action="Index">Instructors</a></li>
                <li class="active"><a asp-controller="Locations" asp-action="Index">Locations</a></li>
                <li class="active"><a asp-controller="Announcements" asp-action="Index">Announcements</a></li>
                <li class="active"><a asp-controller="RegistrationRecords" asp-action="Index">User Registrations</a></li>
            }
        </ul>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-default">
            <a class="navbar-brand">@ViewData["Title"]</a>
            <div class="container-fluid">
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
        <div id="main" class="container body-content">
            <div>
                @RenderBody()
            </div>
        </div>
        <div id="footer" class="container-fluid">
            <footer>
                <p class="text-center text-info">&copy; 2017 - Fitness Class Registration</p>
            </footer>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/tether/dist/js/tether.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/tether/dist/js/tether.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
